

.head-bar {
  background-color: #0d47a1;
  position: relative;
  color: white;
  text-shadow: 1px 1px white;
  height: 80px;
  border: 2px solid #4285F4;
}

.app-title{
  position: relative;
  font-style: oblique;
  font-size: 50px;
  text-align: center;
}

.bottom-bar {
  position: fixed;
  bottom: -15px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.table-el{
  text-align: center;
}

.btn-lightt{
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.card-body.text-info {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-danger {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-success {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-primary {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-dark {
  text-align: left;
  padding-top: 0px;
}

.left-person-info {
  position: relative;
  float: left;
}

.right-message{
  position: relative;
  float: right;
  align: center;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.7);
  font-size: 40px;
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
  font-size: 40px;
 }
