

.head-bar {
  background-color: #e6ccff;
  position: relative;
  color: white;
  text-shadow: 1px 1px black;
  height: 80px;
  border: 2px solid #8b49c9;
}

.app-title{
  position: relative;
  font-style: oblique;
  font-size: 50px;
  text-align: center;
}

.bottom-bar {
  position: fixed;
  bottom: -15px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.table-el{
  text-align: center;
}

.btn-lightt{
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.card-body.text-info {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-danger {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-success {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-primary {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-dark {
  text-align: left;
  padding-top: 0px;
}

.left-person-info {
  position: relative;
  float: left;
}

.right-message{
  position: relative;
  float: right;
  align: center;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.7);
  font-size: 40px;
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
  font-size: 40px;
 }

 /*------------------------------------------------------------------
 [ Login Page]*/

 .limiter {
   width: 100%;
   margin: 0 auto;
 }

 .container-login {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 15px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }

 .wrap-login {
   width: 500px;
   background: #fff;
   border-radius: 10px;
   overflow: hidden;
 }

 .login-form {
   width: 100%;
 }

 .login-form-title {
   display: block;
   font-size: 39px;
   color: #333333;
   line-height: 1.2;
   text-align: center;
   padding-bottom: 49px;
 }

 .container-loginbutton{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .wrap-loginbutton{
   width: 100%;
   display: block;
   position: relative;
   z-index: 1;
   border-radius: 25px;
   overflow: hidden;
   margin: 0 auto;
 }

 .loginbtn {
   font-size: 16px;
   background-color: #e6ccff;
   color: white;
   line-height: 1.2;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
   width: 100%;
   height: 40px;
 }

 /*//////////////////////////////////////////////////////////////////
 [ Utility ]*/
 .txt1 {
   font-size: 14px;
   line-height: 1.5;
   color: #666666;
   padding-top: 54px;
   padding-bottom: 20px;
 }

 .txt2 {
   font-size: 14px;
   line-height: 1.5;
   color: #333333;
   text-transform: uppercase;
 }

 .flex-c-m {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .flex-col-c {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 }

 .bg1 {background-color: #3b5998}
 .bg2 {background-color: #1da1f2}
 .bg3 {background-color: #ea4335}

 /*//////////////////////////////////////////////////////////////////
 [ Social item ]*/
 
 .login100-social-item {
   font-size: 25px;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin: 5px;
 }

 .login100-social-item:hover {
   color: #fff;
   background-color: #333333;
 }
