

.head-bar {
  background-color: #e6ccff;
  position: relative;
  color: white;
  text-shadow: 1px 1px black;
  height: 80px;
  border: 2px solid #8b49c9;
}

.app-title{
  position: relative;
  font-style: oblique;
  font-size: 50px;
  text-align: center;
}

.bottom-bar {
  position: fixed;
  bottom: 137px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}

.table-el{
  text-align: center;
}

.btn-lightt{
  color: #212529;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.card-body.text-info {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-danger {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-success {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-primary {
  text-align: left;
  padding-top: 0px;
}
.card-body.text-dark {
  text-align: left;
  padding-top: 0px;
}

.left-person-info {
  position: relative;
  float: left;
}

.right-message{
  position: relative;
  float: right;
  align: center;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.7);
  font-size: 40px;
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
  font-size: 40px;
 }



 .icon-chevron {
  display:block;
  width:15px;
  height:22px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAWCAMAAAAo0TYrAAAAElBMVEX///8AAAAAAAAAAAAAAAAAAABknMCaAAAABXRSTlMAEHCg0O5XV0MAAAAzSURBVHgBYwACJkYGZMDMysKIwmUFCyC4KAIsrKgCjPQQQPCpzUX4B9O/mOGBGV7o4QkA5zcCv3HiEZgAAAAASUVORK5CYII=);
}
.icon-chevron-rotate {
  transform: rotate(180deg);
}
.page {
  width: 370px;
  margin: 0 auto;
  padding-left: 0px;
  padding-top: 40px;
}
.responsive-calendar-placeholder {}
.responsive-calendar-modal {
  background-color: #1d86c8;
  color: white;
  padding: 1em;
}
.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
  color: red;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active a {
  background-color: #1d86c8;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}
